@font-face {
  font-family: "Source Code Pro";
  src: url("./font?request=sourcecodepro/extralight") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("./font?request=sourcecodepro/extralightitalic") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("./font?request=sourcecodepro/light") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("./font?request=sourcecodepro/lightitalic") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("./font?request=sourcecodepro/regular") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("./font?request=sourcecodepro/italic") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("./font?request=sourcecodepro/medium") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("./font?request=sourcecodepro/mediumitalic") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("./font?request=sourcecodepro/semibold") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("./font?request=sourcecodepro/semibolditalic") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("./font?request=sourcecodepro/bold") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("./font?request=sourcecodepro/bolditalic") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("./font?request=sourcecodepro/black") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("./font?request=sourcecodepro/blackitalic") format("truetype");
  font-weight: 900;
  font-style: italic;
}
