@font-face {
  font-family: "atkinson";
  src: url("./font?request=atkinson/regular");
}
@font-face {
  font-family: "atkinson";
  font-weight: bold;
  src: url("./font?request=atkinson/bold");
}
@font-face {
  font-family: "atkinson";
  font-style: italic;
  font-weight: bold;
  src: url("./font?request=atkinson/bolditalic");
}
@font-face {
  font-family: "atkinson";
  font-style: italic;
  src: url("./font?request=atkinson/italic");
}
