code[class*="language-"],
pre[class*="language-"] {
  color: #abb2bf;
  font-family: Fira Code, Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #67769660;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #67769660;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  color: white;
  background: #1e1e24;
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}


.token.constant {
  color: #EF596F;
  
}

.token.deleted {
  color: #EF596F;
  
}

.token.tag {
  color: #EF596F;
  
}

.token.punctuation {
  color: #ABB2BF;
  
}

.token.property {
  color: #ABB2BF;
  
}

.token.variable {
  color: #E5C07B;
  
}

.token.builtin {
  color: #E5C07B;
  
}

.token.changed {
  color: #E5C07B;
  
}

.token.namespace {
  color: #E5C07B;
  
}

.token.class-name {
  color: #E5C07B;
  
}

.token.operator {
  color: #2BBAC5;
  
}

.token.symbol {
  color: #2BBAC5;
  
}

.token.regex {
  color: #2BBAC5;
  
}

.token.inserted {
  color: #89CA78;
  
}

.token.char {
  color: #89CA78;
  
}

.token.attr-name {
  color: undefined;
  font-style: italic
}

.token.comment {
  color: undefined;
  font-style: italic
}

.token.selector {
  color: #D55FDE;
  
}

.token.keyword {
  color: #D55FDE;
  
}

.token.function {
  color: #4D8DC2;
  
}

.token.number {
  color: #D19A66;
  
}

.token.hexcode {
  color: #D19A66;
  
}

.token.string {
  color: #61AFEF;
  
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
