code[class*="language-"],
pre[class*="language-"] {
  color: #e1e4e8;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #3392ff44;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #3392ff44;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  color: white;
  background: #24292e;
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.chatify *:not(code *), .chatify {
  color: var(--chatify-theme-fg);
}
.token.keyword.module, .token.keyword.control-flow {
  color: #ff7b72!important;
}
.token.punctuation {
  color: unset;
}
.token.punctuation {
}
.token.tag .token.punctuation:not(.attr-equals) {
  color: gray;
}
.token.attr-value, .token.attr-value .punctuation, .token.string {
  color: #a6d7ff!important;
}
.token.attr-value .attr-equals {
  color: #e1e4e8!important;
}
.token.tag .class-name {
  color: #7ee587;
}
.token.attr-name {
  color: #7ac0ff;
}
.token.keyword {
  color: #ff7b72;
}
.token.function span {
  color: #ffa657!important;
}
