code[class*="language-"],
pre[class*="language-"] {
  color: #24292e;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}



pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #0366d625;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #0366d625;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  color: white;
  background: #ffffff;
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}


.token.comment {
  color: #6A737D;
  
}

.token.punctuation {
  color: #6A737D;
  
}

.token.string {
  color: #6A737D;
  
}

.token.constant {
  color: #005CC5;
  
}

.token.hexcode {
  color: #005CC5;
  
}

.token.builtin {
  color: #005CC5;
  
}

.token.variable {
  color: #005CC5;
  
}

.token.tag {
  color: #22863A;
  
}

.token.regex {
  color: #032F62;
  
}

.token.deleted {
  color: #B31D28;
  
}

.token.inserted {
  color: #22863A;
  
}

.token.changed {
  color: #E36209;
  
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
